* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  width: 100%;
  background-color: hsl(0, 0%, 98%);
}
body h1 {
  font-family: "Be vietnam pro", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: hsl(233, 12%, 13%);
}
@media screen and (max-width: 375px) {
  body h1 {
    font-size: 40px;
    font-weight: 700;
    color: hsl(233, 12%, 13%);
  }
}
body h2 {
  font-family: "Be vietnam pro", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: hsl(233, 12%, 13%);
}
@media screen and (max-width: 375px) {
  body h2 {
    font-size: 24px;
    font-weight: 700;
    color: hsl(233, 12%, 13%);
  }
}
body h3 {
  font-family: "Be vietnam pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: hsl(233, 12%, 13%);
}
@media screen and (max-width: 375px) {
  body h3 {
    font-size: 16px;
    font-weight: 600;
    color: hsl(233, 12%, 13%);
  }
}
body h4 {
  font-family: "Be vietnam pro", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: hsl(233, 12%, 13%);
}
@media screen and (max-width: 375px) {
  body h4 {
    font-size: 14px;
    font-weight: 600;
    color: hsl(233, 12%, 13%);
  }
}
body p {
  font-family: "Be vietnam pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: hsl(227, 12%, 61%);
}
@media screen and (max-width: 375px) {
  body p {
    font-size: 14px;
    font-weight: 400;
    color: hsl(233, 12%, 13%);
  }
}
body .btn {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  text-decoration: none;
  font-family: "Be vietnam pro", sans-serif;
  text-align: center;
  padding: 16px 24px;
  border-radius: 24px;
  box-shadow: 0px 4px 8px 0px hsla(12, 88%, 59%, 0.384);
  transition: 0.3s ease;
}
body .btn:hover {
  opacity: 0.7;
}
body .hero {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
body .back-hero {
  position: absolute;
  top: -164px;
  right: -164px;
  z-index: -1;
}
body .back-hero img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 740px) {
  body .back-hero {
    top: -164px;
    right: -364px;
  }
  body .back-hero img {
    width: 80%;
    height: 80%;
  }
}
body header {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 24px;
}
body header #navbar-desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header #navbar-desktop nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
body header #navbar-desktop nav ul a {
  font-family: "Be vietnam pro", sans-serif;
  text-decoration: none;
  color: hsl(233, 12%, 13%);
}
body header #navbar-desktop nav ul a:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}
@media screen and (max-width: 740px) {
  body header #navbar-desktop {
    display: none;
  }
}
body header #navbar-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
}
body header #navbar-mobile .menu-h {
  cursor: pointer;
}
@media screen and (max-width: 740px) {
  body header #navbar-mobile {
    display: flex;
  }
}
body header .menu-mobile {
  display: none;
  max-width: 400px;
  margin: 24px auto 0;
}
body header .menu-mobile nav {
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0px 4px 5px 0 hsla(233, 12%, 13%, 0.26);
  border-radius: 4px;
  padding: 24px 0;
}
body header .menu-mobile nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
body header .menu-mobile nav ul a {
  font-family: "Be vietnam pro", sans-serif;
  text-decoration: none;
  color: hsl(233, 12%, 13%);
}
body header .menu-mobile nav ul a:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}
body header .active {
  display: block;
}
body .main-hero {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 48px;
  margin-top: 92px;
}
body .main-hero .hero-container p {
  margin: 8px 0 40px 0;
  max-width: 80%;
}
@media screen and (max-width: 740px) {
  body .main-hero {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  body .main-hero .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  body .main-hero .hero-container h1, body .main-hero .hero-container p {
    text-align: center;
  }
  body .main-hero .hero-img img {
    width: 100%;
  }
}
body .about {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 64px;
  margin-top: 92px;
  padding: 0 24px;
  overflow-x: hidden;
}
body .about h2 {
  margin-bottom: 8px;
}
body .about ul {
  list-style-type: none;
}
body .about ul li {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 40px;
}
body .about ul li h4 {
  margin-bottom: 8px;
}
body .about .number {
  padding: 4px 16px;
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  border-radius: 16px;
}
@media screen and (max-width: 740px) {
  body .about {
    flex-direction: column;
  }
  body .about h2 {
    text-align: center;
  }
  body .about h4 {
    width: 115%;
    height: 100%;
    padding: 4px 0px 4px 16px;
    background-color: hsl(13, 100%, 96%);
    margin-left: -20px;
  }
  body .about li {
    gap: 0;
  }
  body .about .number {
    z-index: 2;
  }
}
body .testmonials {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 24px;
  margin-top: 124px;
  margin-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .testmonials h2 {
  text-align: center;
  margin-bottom: 64px;
}
body .testmonials .btn {
  margin: 0 auto;
  margin-top: 40px;
}
body .swiper {
  width: 100%;
  height: 300px;
}
body .swiper-slide {
  background-color: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .swiper-slide .person-profile {
  width: 64px;
  height: 64px;
  margin-bottom: 32px;
}
body .swiper-slide .person-profile img {
  width: 100%;
  height: 100%;
}
body .swiper-slide p {
  text-align: center;
  width: 70%;
}
body .simplify {
  position: relative;
  width: 100%;
  padding: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(12, 88%, 59%);
}
body .simplify::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../images/bg-simplify-section-desktop.svg") no-repeat center/cover;
}
@media screen and (max-width: 740px) {
  body .simplify::after {
    left: -324px;
    background: url("../../../images/bg-simplify-section-mobile.svg") no-repeat left/cover;
  }
}
body .simplify .simplify-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body .simplify .simplify-container h2 {
  color: hsl(0, 0%, 98%);
  z-index: 2;
}
@media screen and (max-width: 740px) {
  body .simplify .simplify-container h2 {
    text-align: center;
  }
}
body .simplify .simplify-container .btn {
  background-color: hsl(0, 0%, 98%);
  color: hsl(12, 88%, 59%);
  font-weight: 600;
  z-index: 2;
}
@media screen and (max-width: 740px) {
  body .simplify .simplify-container {
    flex-direction: column;
    gap: 64px;
  }
}
body footer {
  padding: 24px 0;
  width: 100%;
  height: 200px;
  background-color: hsl(233, 12%, 13%);
}
body footer .footer-container {
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
body footer .footer-container .socialmedias {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body footer .footer-container .socialmedias ul {
  display: flex;
  align-items: center;
  gap: 8px;
  list-style-type: none;
}
@media screen and (max-width: 740px) {
  body footer .footer-container .socialmedias ul {
    margin: 16px 0 24px 0;
  }
}
body footer .footer-container .footer-links {
  height: 100%;
}
body footer .footer-container .footer-links nav {
  display: flex;
  justify-content: space-between;
  gap: 164px;
}
body footer .footer-container .footer-links nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
body footer .footer-container .footer-links nav ul a {
  font-family: "Be vietnam pro", sans-serif;
  text-decoration: none;
  color: hsl(0, 0%, 98%);
  font-size: 14px;
}
body footer .footer-container .footer-links nav ul a:hover {
  opacity: 0.7;
  transition: 0.3s ease;
}
@media screen and (max-width: 740px) {
  body footer .footer-container .footer-links nav {
    gap: 100px;
    justify-content: center;
    margin-bottom: 24px;
  }
}
body footer .footer-container .footer-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body footer .footer-container .footer-form input {
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 98%);
  color: hsl(227, 12%, 61%);
  width: 250px;
  padding: 10px 8px;
  padding-left: 16px;
  border-radius: 20px;
}
body footer .footer-container .footer-form button {
  background-color: hsl(12, 88%, 59%);
  color: hsl(0, 0%, 98%);
  border: none;
  border-radius: 16px;
  padding: 10px 16px;
  cursor: pointer;
  transition: 0.3s ease;
}
body footer .footer-container .footer-form button:hover {
  opacity: 0.7;
}
body footer .footer-container .footer-form p {
  font-size: 14px;
}
@media screen and (max-width: 740px) {
  body footer .footer-container .footer-form p {
    margin-top: 32px;
  }
}
@media screen and (max-width: 740px) {
  body footer .footer-container .footer-form {
    text-align: center;
  }
  body footer .footer-container .footer-form .form-controls {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
}
@media screen and (max-width: 740px) {
  body footer .footer-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 740px) {
  body footer {
    height: 100%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}/*# sourceMappingURL=style.css.map */